@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Raleway'),
    url('/module-4/fontse-4/fonts/raleway-v19-latin/raleway-v19-latin-regular.woff2') format('woff2'),
    url('/module-4/fontse-4/fonts/raleway-v19-latin/raleway-v19-latin-regular.woff') format('woff');
    unicode-range: U+000-5FF;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Roboto'),
    url('/module-4/fontse-4/fonts/roboto-v20-latin/roboto-v20-latin-regular.woff2') format('woff2'),
    url('/module-4/fontse-4/fonts/roboto-v20-latin/roboto-v20-latin-regular.woff') format('woff');
    unicode-range: U+000-5FF;
}

p {
    font-family: 'Roboto', serif;
}

h1, h2 {
    font-family: 'Raleway', serif;
}
